# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class


venv/
env/
.env


.vscode/
.idea/
.DS_Store
Thumbs.db


*.onnx
*.h5
.insightface/
.deepface/


*.jpg
*.png
*.mp4
*.avi


!webapp/static/images/*.png
!webapp/static/images/*.jpg

*.log